<app-nav></app-nav>

<body>
   
    <div class="clear"></div>
    <h1 class="noticias">GENEROS</h1>

    <div class="generos">
        <div class="peliculas">
            <img src="../../../assets/img/noche.png" alt="">
            <h2>TERROR</h2>
            <a href="../terror/">Ver mas...</a>
        </div>


        <div class="peliculas">
            <img src="../../../assets/img/avengers.png" alt="">
            <h2>CIENCIA FICCION</h2>
            <a href="../ficcion/">Ver mas...</a>
        </div>

    </div>

</body>

<app-footer></app-footer>
